{% extends "web/layouts/base_site.html" %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <!-- top tiles 
  <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
      <div class="count">2500</div>
      <span class="count_bottom"><i class="green">4% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> Average Time</span>
      <div class="count">123.50</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Males</span>
      <div class="count green">2,500</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Females</span>
      <div class="count">4,567</div>
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Collections</span>
      <div class="count">2,315</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
      <div class="count">7,325</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
  </div>
  -->

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_graph">

        <div class="row x_title">
          <div class="col-md-6">
            <h3>El Analizador de Tópicos de <small><b>Redes Sociales</b></small></h3>
          </div>
          <!--
          <div class="col-md-6">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
            </div>
          </div>
          -->
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
        <p>Esta aplicación le permitirá realizar búsquedas sobre timelines de Twitter, para saber si se está hablando de una determinada palabra buscada, mostrando estadísticas relacionadas a la misma.</p>

        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <br />

  <div class="col-md-6">
    <h3>¿De qué se está hablando ahora en Twitter?<small><b></b></small></h3>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Nuestra Nube de Palabras</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          {% load static %}
          <center>
              <img src="{% static data.wordcloud.url %}" alt="img" width="650" height="350"/>
          </center>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Nuestros Tópicos</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <center>
            <span class="label label-pink">Entretenimiento</span>
            <span class="label label-warning">Religión</span>
            <span class="label label-success">Economía</span>
            <span class="label label-orange">Deporte</span>
            <span class="label label-info">Salud</span>
            <span class="label label-danger">Política</span>
            <span class="label label-brown">Social</span>
            <span class="label label-primary">Educación</span>
            <span class="label label-black">Tecnología</span>
            <span class="label label-grey">Diverso</span>
          </center><br>

          <table id="twitterTopicsTable" class="table table-striped table-bordered">
            <thead style="background-color:#2A3F54;color:white">
                <tr>
                  <th>N°</th>
                  <th>Cuenta</th>
                  <th>Tweet</th>
                  <th>Tópico</th>
<!--
                  <th>Polaridad</th>
                  <th>Porcentaje</th>
-->                  
                  <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
              {% for key in data.tweets_processed %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{key.account_name}}</td>
                  <td>{{key.text|urlize}}</td>
                  <!--  ---------------------------------------------------------------- -->                  
                  {% ifequal key.topic 'Diverso' %}
                    <td><span class="label label-grey">{{key.topic}}</span></td>
                  {% endifequal %}
                  <!--  ---------------------------------------------------------------- -->                  
                  {% ifequal key.topic 'Entretenimiento' %}
                    <td><span class="label label-pink">{{key.topic}}</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Entretenimiento - Religión' %}
                    <td><span class="label label-pink">Entretenimiento</span> - <span class="label label-warning">Religión</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Entretenimiento - Economía' %}
                    <td><span class="label label-pink">Entretenimiento</span> - <span class="label label-success">Economía</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Entretenimiento - Deporte' %}
                    <td><span class="label label-pink">Entretenimiento</span> - <span class="label label-orange">Deporte</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Entretenimiento - Salud' %}
                    <td><span class="label label-pink">Entretenimiento</span> - <span class="label label-info">Salud</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Entretenimiento - Política' %}
                    <td><span class="label label-pink">Entretenimiento</span> - <span class="label label-danger">Política</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Entretenimiento - Social' %}
                    <td><span class="label label-pink">Entretenimiento</span> - <span class="label label-brown">Social</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Entretenimiento - Tecnología' %}
                    <td><span class="label label-pink">Entretenimiento</span> - <span class="label label-black">Tecnología</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Entretenimiento - Educación' %}
                    <td><span class="label label-pink">Entretenimiento</span> - <span class="label label-primary">Educación</span></td>
                  {% endifequal %}
                  <!--  ---------------------------------------------------------------- -->
                  {% ifequal key.topic 'Religión' %}
                    <td><span class="label label-warning">{{key.topic}}</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Religión - Entretenimiento' %}
                    <td><span class="label label-warning">Religión</span> - <span class="label label-pink">Entretenimiento</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Religión - Economía' %}
                    <td><span class="label label-warning">Religión</span> - <span class="label label-warning">Economía</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Religión - Deporte' %}
                    <td><span class="label label-warning">Religión</span> - <span class="label label-success">Deporte</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Religión - Salud' %}
                    <td><span class="label label-warning">Religión</span> - <span class="label label-info">Salud</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Religión - Política' %}
                    <td><span class="label label-warning">Religión</span> - <span class="label label-danger">Política</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Religión - Social' %}
                    <td><span class="label label-warning">Religión</span> - <span class="label label-brown">Social</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Religión - Tecnología' %}
                    <td><span class="label label-warning">Religión</span> - <span class="label label-black">Tecnología</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Religión - Educación' %}
                    <td><span class="label label-warning">Religión</span> - <span class="label label-primary">Educación</span></td>
                  {% endifequal %}                  
                  <!--  ---------------------------------------------------------------- -->                  
                  {% ifequal key.topic 'Economía' %}
                    <td><span class="label label-success">{{key.topic}}</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Economía - Entretenimiento' %}
                    <td><span class="label label-success">Economía</span> - <span class="label label-pink">Entretenimiento</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Economía - Religión' %}
                    <td><span class="label label-success">Economía</span> - <span class="label label-warning">Religión</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Economía - Deporte' %}
                    <td><span class="label label-success">Economía</span> - <span class="label label-orange">Deporte</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Economía - Salud' %}
                    <td><span class="label label-success">Economía</span> - <span class="label label-info">Salud</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Economía - Política' %}
                    <td><span class="label label-success">Economía</span> - <span class="label label-danger">Política</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Economía - Social' %}
                    <td><span class="label label-success">Economía</span> - <span class="label label-brown">Social</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Economía - Tecnología' %}
                    <td><span class="label label-success">Economía</span> - <span class="label label-black">Tecnología</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Economía - Educación' %}
                    <td><span class="label label-success">Economía</span> - <span class="label label-primary">Educación</span></td>
                  {% endifequal %}                  
                  <!--  ---------------------------------------------------------------- -->
                  {% ifequal key.topic 'Deporte' %}
                    <td><span class="label label-orange">{{key.topic}}</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Deporte - Entretenimiento' %}
                    <td><span class="label label-orange">Deporte</span> - <span class="label label-pink">Entretenimiento</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Deporte - Religión' %}
                    <td><span class="label label-orange">Deporte</span> - <span class="label label-warning">Religión</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Deporte - Economía' %}
                    <td><span class="label label-orange">Deporte</span> - <span class="label label-success">Economía</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Deporte - Salud' %}
                    <td><span class="label label-orange">Deporte</span> - <span class="label label-info">Salud</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Deporte - Política' %}
                    <td><span class="label label-orange">Deporte</span> - <span class="label label-danger">Política</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Deporte - Social' %}
                    <td><span class="label label-orange">Deporte</span> - <span class="label label-brown">Social</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Deporte - Tecnología' %}
                    <td><span class="label label-orange">Deporte</span> - <span class="label label-black">Tecnología</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Deporte - Educación' %}
                    <td><span class="label label-orange">Deporte</span> - <span class="label label-primary">Educación</span></td>
                  {% endifequal %}                  
                  <!--  ---------------------------------------------------------------- -->
                  {% ifequal key.topic 'Salud' %}
                    <td><span class="label label-info">{{key.topic}}</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Salud - Entretenimiento' %}
                    <td><span class="label label-info">Salud</span> - <span class="label label-pink">Entretenimiento</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Salud - Religión' %}
                    <td><span class="label label-info">Salud</span> - <span class="label label-warning">Religión</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Salud - Economía' %}
                    <td><span class="label label-info">Salud</span> - <span class="label label-success">Economía</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Salud - Deporte' %}
                    <td><span class="label label-info">Salud</span> - <span class="label label-orange">Deporte</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Salud - Política' %}
                    <td><span class="label label-info">Salud</span> - <span class="label label-danger">Política</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Salud - Social' %}
                    <td><span class="label label-info">Salud</span> - <span class="label label-brown">Social</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Salud - Tecnología' %}
                    <td><span class="label label-info">Salud</span> - <span class="label label-black">Tecnología</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Salud - Educación' %}
                    <td><span class="label label-info">Salud</span> - <span class="label label-primary">Educación</span></td>
                  {% endifequal %}                  
                  <!--  ---------------------------------------------------------------- -->                  
                  {% ifequal key.topic 'Política' %}
                    <td><span class="label label-danger">{{key.topic}}</span></td>
                  {% endifequal %}                  
                  {% ifequal key.topic 'Política - Entretenimiento' %}
                    <td><span class="label label-danger">Política</span> - <span class="label label-pink">Entretenimiento</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Política - Religión' %}
                    <td><span class="label label-danger">Política</span> - <span class="label label-warning">Religión</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Política - Economía' %}
                    <td><span class="label label-danger">Política</span> - <span class="label label-success">Economía</span></td>
                  {% endifequal %}                  
                  {% ifequal key.topic 'Política - Deporte' %}
                    <td><span class="label label-danger">Política</span> - <span class="label label-orange">Deporte</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Política - Salud' %}
                    <td><span class="label label-danger">Política</span> - <span class="label label-info">Salud</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Política - Social' %}
                    <td><span class="label label-danger">Política</span> - <span class="label label-brown">Social</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Política - Tecnología' %}
                    <td><span class="label label-danger">Política</span> - <span class="label label-black">Tecnología</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Política - Educación' %}
                    <td><span class="label label-danger">Política</span> - <span class="label label-primary">Educación</span></td>
                  {% endifequal %}                  
                  <!--  ---------------------------------------------------------------- -->                  
                  {% ifequal key.topic 'Social' %}
                    <td><span class="label label-brown">{{key.topic}}</span></td>
                  {% endifequal %}                  
                  {% ifequal key.topic 'Social - Entretenimiento' %}
                    <td><span class="label label-brown">Social</span> - <span class="label label-pink">Entretenimiento</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Social - Religión' %}
                    <td><span class="label label-brown">Social</span> - <span class="label label-warning">Religión</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Social - Economía' %}
                    <td><span class="label label-brown">Social</span> - <span class="label label-success">Economía</span></td>
                  {% endifequal %}                  
                  {% ifequal key.topic 'Social - Deporte' %}
                    <td><span class="label label-brown">Social</span> - <span class="label label-orange">Deporte</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Social - Salud' %}
                    <td><span class="label label-brown">Social</span> - <span class="label label-info">Salud</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Social - Política' %}
                    <td><span class="label label-brown">Social</span> - <span class="label label-danger">Política</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Social - Tecnología' %}
                    <td><span class="label label-brown">Social</span> - <span class="label label-black">Tecnología</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Social - Educación' %}
                    <td><span class="label label-brown">Social</span> - <span class="label label-primary">Educación</span></td>
                  {% endifequal %}                  
                  <!--  ---------------------------------------------------------------- -->    
                  {% ifequal key.topic 'Educación' %}
                    <td><span class="label label-primary">{{key.topic}}</span></td>
                  {% endifequal %}                  
                  {% ifequal key.topic 'Educación - Entretenimiento' %}
                    <td><span class="label label-primary">Educación</span> - <span class="label label-pink">Entretenimiento</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Educación - Religión' %}
                    <td><span class="label label-primary">Educación</span> - <span class="label label-warning">Religión</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Educación - Economía' %}
                    <td><span class="label label-primary">Educación</span> - <span class="label label-success">Economía</span></td>
                  {% endifequal %}                  
                  {% ifequal key.topic 'Educación - Deporte' %}
                    <td><span class="label label-primary">Educación</span> - <span class="label label-orange">Deporte</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Educación - Salud' %}
                    <td><span class="label label-primary">Educación</span> - <span class="label label-info">Salud</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Educación - Política' %}
                    <td><span class="label label-primary">Educación</span> - <span class="label label-danger">Política</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Educación - Tecnología' %}
                    <td><span class="label label-primary">Educación</span> - <span class="label label-black">Tecnología</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Educación - Social' %}
                    <td><span class="label label-primary">Educación</span> - <span class="label label-brown">Social</span></td>
                  {% endifequal %}                  
                  <!--  ---------------------------------------------------------------- --> 
                  {% ifequal key.topic 'Tecnología' %}
                    <td><span class="label label-black">{{key.topic}}</span></td>
                  {% endifequal %}                  
                  {% ifequal key.topic 'Tecnología - Entretenimiento' %}
                    <td><span class="label label-black">Tecnología</span> - <span class="label label-pink">Entretenimiento</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Tecnología - Religión' %}
                    <td><span class="label label-black">Tecnología</span> - <span class="label label-warning">Religión</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Tecnología - Economía' %}
                    <td><span class="label label-black">Tecnología</span> - <span class="label label-success">Economía</span></td>
                  {% endifequal %}                  
                  {% ifequal key.topic 'Tecnología - Deporte' %}
                    <td><span class="label label-black">Tecnología</span> - <span class="label label-orange">Deporte</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Tecnología - Salud' %}
                    <td><span class="label label-black">Tecnología</span> - <span class="label label-info">Salud</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Tecnología - Política' %}
                    <td><span class="label label-black">Tecnología</span> - <span class="label label-danger">Política</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Tecnología - Social' %}
                    <td><span class="label label-black">Tecnología</span> - <span class="label label-brown">Social</span></td>
                  {% endifequal %}
                  {% ifequal key.topic 'Tecnología - Educación' %}
                    <td><span class="label label-black">Tecnología</span> - <span class="label label-primary">Educación</span></td>
                  {% endifequal %}                  
                  <!--  ---------------------------------------------------------------- -->                      
<!--
                  {% ifequal key.polarity 'NU' %}
                    <td><span class="label label-grey">Neutral</span>
                  {% endifequal %}
                  {% ifequal key.polarity 'N' %}
                    <td><span class="label label-red">Negativa</span></td>
                  {% endifequal %}
                  {% ifequal key.polarity 'P' %}
                    <td><span class="label label-green">Positiva</span></td>
                  {% endifequal %}
                  <td><center>{{key.percentage}}%</center></td>
-->
                  <td>{{ key.formated_date}}</td> <!-- naturaltime with load humanize tag doesn't work -->
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Bootstrap Datatable -->
  <script>
  $(document).ready(function() {
      $('#twitterTopicsTable').DataTable();
  } );
  </script>
  <!-- Chart.js 
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script> -->
  <!-- gauge.js 
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script> -->
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS 
  <script src="/static/vendors/DateJS/build/date.js"></script> -->
  <!-- JQVMap 
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script> 
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script> -->
{% endblock javascripts %}
