{% extends "web/layouts/base_site.html" %}

{% block title %} Update Profile {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/socialanalyzer" id="btn-search-index-breadcrumb">Home</a></li>
        <li class="active"><a href="/socialanalyzer/profile_get">Profile</a></li>        
      </ol>
    </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Modificar Datos <small></small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
          <form method="post">
          {% csrf_token %}
            <fieldset>
              <form class="form-horizontal form-label-left input_mask">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre</label>
                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="#firstName" placeholder="First Name">
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Apellido</label>
                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="#lasttName" placeholder="Last Name">
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Correo</label>
                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="#email" placeholder="Email">
                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password</label>
                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="password" class="form-control has-feedback-left">
                    <span class="fa fa-unlock-alt form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>
                <!--
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Género</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="gender" class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
                      </label>
                      <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="female"> Female
                      </label>
                    </div>
                  </div>
                </div>
                -->

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary" onclick='' value="Guardar">Guardar</button>
                    <a href="/socialanalyzer/profile_get/" id="btn-search-index-getback" class="btn btn-primary">Regresar</a>
                  </div>
                </div>

              </form>
              </center>
            </fieldset>
          </form>              
            </div>
          </div>
        </div>
      </div>

  </div>
{% endblock content %}
