{% extends "web/layouts/base_site.html" %}
{% load static %}
{% block title %} Recent Search on Twitter {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<!--
<script type="text/javascript">
	document.getElementById("buscar-palabra-li").classList.add('active');
	//console.log(document.getElementById("buscar-palbra-li"))
	document.getElementById("inicio-li").classList.remove('active');
</script>
-->
<div class="right_col" role="main">

	<div class="row">
		<ol class="breadcrumb">
	        <li class="active"><a href="/socialanalyzer" id="btn-search-index-breadcrumb">Home</a></li>
		</ol>
	</div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

			<div class="row x_title">
				<div class="col-md-6">
				  <h3>Búsqueda Reciente<small><b></b> en Twitter</small></h3>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12">
			<p><i class="fa fa-comment-o"></i> Información en detalle acerca de tus búsquedas recientes y variación en el tiempo. Puedes ver la variación en el tiempo de una palabra, al dar click sobre ella.</p>
			</div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br />
    <!--
	<div class="col-md-3 col-sm-3 col-xs-12">
		<div class="x_panel tile fixed_height_320">
			<div class="x_title">
			<h2>MásBuscadas</h2>  	
				<ul class="nav navbar-right panel_toolbox">
				  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				  </li>
				  <li><a class="close-link"><i class="fa fa-close"></i></a>
				  </li>
				</ul>
			<div class="clearfix"></div>
			</div>
			<div class="x_content">

			    <div class="row tile_count">
			      <div class="col-md-12 col-sm-12 col-xs-12 tile_stats_count">
			        <span class="count_top"><i class="fa fa-thumbs-o-up"></i> Positiva</span>
			        <h3><b>Venezuela</b></h3>
			      </div>
			    </div>

			    <div class="row tile_count">
			      <div class="col-md-12 col-sm-12 col-xs-12 tile_stats_count">
			        <span class="count_top"><i class="fa fa-thumbs-o-down"></i> Negativa</span>
			        <h3><b>Contaminación</b></h3>
			      </div>
			    </div>

			</div>

      		<div class="clearfix"></div>

		</div>
	</div>
	-->

	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="x_panel tile fixed_height_320">
		  <div class="x_title">
		    <h2>Búsquedas Recientes</h2>
		    <ul class="nav navbar-right panel_toolbox">
		      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		      </li>
		      <li><a class="close-link"><i class="fa fa-close"></i></a>
		      </li>
		    </ul>
		    <div class="clearfix"></div>
		  </div>
		  <div class="x_content">
		    <table class="" style="width:100%">
		      <tr>
		        <th>
		          <p></p>
		        </th>
		        <th>
		          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
		            <p class="">Polaridad</p>
		          </div>
		          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
		            <p class="">%</p>
		          </div>
		        </th>
		      </tr>
		      <tr>
		        <td>
		          <canvas class="recently_search" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
		        </td>
		        <td>
		          <table class="tile_info">
		            <tr>
		              	<td>
		                	<p><i class="fa fa-square green"></i>Positivas </p>
		              	</td>
		              	<td>30%</td>
		            </tr>
		            <tr>
						<td>
							<p><i class="fa fa-square red"></i>Negativas </p>
						</td>
						<td>15%</td>
					</tr>
					<tr>
						<td>
							<p><i class="fa fa-square aero"></i>Neutrales </p>
						</td>
						<td>30%</td>
		            </tr>
		          </table>
		        </td>
		      </tr>
		    </table>
		  </div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="x_panel tile fixed_height_320">
		  <div class="x_title">
		    <h2>Búsquedas Positivas</h2>
		    <ul class="nav navbar-right panel_toolbox">
		      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		      </li>
		      <li><a class="close-link"><i class="fa fa-close"></i></a>
		      </li>
		    </ul>
		    <div class="clearfix"></div>
		  </div>
		  <div class="x_content">
		    <table class="" style="width:100%">
		      <tr>
		        <th>
		          <p>Top 5</p>
		        </th>
		        <th>
		          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
		            <p class="">Palabra</p>
		          </div>
		          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
		            <p class=""></p>
		          </div>
		        </th>
		      </tr>
		      <tr>
		        <td>
		          <canvas class="top_positive_search" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
		        </td>
		        <td>
		          <table class="tile_info">
		            <tr>
		              <td>
		                <p><i class="fa fa-square blue"></i>IOS </p>
		              </td>
		              <td>30%</td>
		            </tr>
		            <tr>
		              <td>
		                <p><i class="fa fa-square green"></i>Android </p>
		              </td>
		              <td>10%</td>
		            </tr>
		            <tr>
		              <td>
		                <p><i class="fa fa-square purple"></i>Blackberry </p>
		              </td>
		              <td>20%</td>
		            </tr>
		            <tr>
		              <td>
		                <p><i class="fa fa-square aero"></i>Symbian </p>
		              </td>
		              <td>15%</td>
		            </tr>
		            <tr>
		              <td>
		                <p><i class="fa fa-square red"></i>Others </p>
		              </td>
		              <td>30%</td>
		            </tr>
		          </table>
		        </td>
		      </tr>
		    </table>
		  </div>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="x_panel tile fixed_height_320">
		  <div class="x_title">
		    <h2>Búsquedas Negativas</h2>
		    <ul class="nav navbar-right panel_toolbox">
		      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		      </li>
		      <li><a class="close-link"><i class="fa fa-close"></i></a>
		      </li>
		    </ul>
		    <div class="clearfix"></div>
		  </div>
		  <div class="x_content">
		    <table class="" style="width:100%">
		      <tr>
		        <th>
		          <p>Top 5</p>
		        </th>
		        <th>
		          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
		            <p class="">Palabra</p>
		          </div>
		          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
		            <p class=""></p>
		          </div>
		        </th>
		      </tr>
		      <tr>
		        <td>
		          <canvas class="top_negative_search" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
		        </td>
		        <td>
		          <table class="tile_info">
		            <tr>
		              <td>
		                <p><i class="fa fa-square blue"></i>IOS </p>
		              </td>
		              <td>30%</td>
		            </tr>
		            <tr>
		              <td>
		                <p><i class="fa fa-square green"></i>Android </p>
		              </td>
		              <td>10%</td>
		            </tr>
		            <tr>
		              <td>
		                <p><i class="fa fa-square purple"></i>Blackberry </p>
		              </td>
		              <td>20%</td>
		            </tr>
		            <tr>
		              <td>
		                <p><i class="fa fa-square aero"></i>Symbian </p>
		              </td>
		              <td>15%</td>
		            </tr>
		            <tr>
		              <td>
		                <p><i class="fa fa-square red"></i>Others </p>
		              </td>
		              <td>30%</td>
		            </tr>
		          </table>
		        </td>
		      </tr>
		    </table>
		  </div>
		</div>
	</div>	

				<!--
	<div class="col-md-9 col-sm-9 col-xs-12">
		<div class="x_panel tile fixed_height_320">
			<div class="x_title">
			<h2>Total de Palabras Buscadas</h2>  	
				<ul class="nav navbar-right panel_toolbox">
				  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				  </li>
				  <li><a class="close-link"><i class="fa fa-close"></i></a>
				  </li>
				</ul>
			<div class="clearfix"></div>
			</div>
			<div class="x_content">

				<div class="col-xs-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-body easypiechart-panel">
							<h4>Positivas</h4>
							<div class="easypiechart" id="easypiechart-green" data-percent="{{data.total_words}}" ><span class="percent">{{data.total_words}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-body easypiechart-panel">
							<h4>Negativas</h4>
							<div class="easypiechart" id="easypiechart-red" data-percent="{{data.total_positive_words}}" ><span class="percent">{{data.total_positive_words}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>

      		<div class="clearfix"></div>

		</div>
	</div>
				-->

    <br />

	<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
			<div class="x_title">
			<h2>Palabras buscadas</h2>  	
				<ul class="nav navbar-right panel_toolbox">
				  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				  </li>
				  <li><a class="close-link"><i class="fa fa-close"></i></a>
				  </li>
				</ul>
			<div class="clearfix"></div>
			</div>
			<div class="x_content">
			<table id="recentlyTwitterSearchTable" class="table table-striped table-bordered">
			  	<thead>
					<tr>
						<th>N°</th>
						<th>Palabra</th>
						<th>Polaridad</th>
						<th>N° Me Gusta</th>
						<th>N° Retweets</th>
						<th>Fecha de Búsqueda</th>
					</tr>
				</thead>
				<tbody>
                    {% for key in data.total_words %}					
					<tr>
						<td>{{forloop.counter}}</td>
						<td><a href="/socialanalyzer/timeline_twitter/{{i.palabra}}">{{key.word}}</a></td>
						{% if key.polarity == 'P' %}
							<td><span class="label label-success">Positiva</span></td>
						{% elif key.polarity == 'N' %}
							<td><span class="label label-danger">Negativa</span></td>
						{% else %}
							<td><span class="label label-default">Neutral</span></td>
						{% endif %}
						<td>{{key.liked}}</td>
						<td>{{key.shared}}</td>
						<td>{{key.searched_date}}</td>
					</tr>
                    {% endfor %}					
			  </tbody>
			</table>
			</div>
		</div>
	</div>

	<a href="/socialanalyzer"> <b><< Regresar</b></a>

</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <!-- Chart.js -->
    <script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
	<!-- Bootstrap Datatable -->
	<script>
	$(document).ready(function() {
	  $('#recentlyTwitterSearchTable').DataTable();
	} );
	</script>
	<!-- easypiechart 
	<script type="text/javascript">
	$(function() {
	$('#easypiechart-green').easyPieChart({
	    scaleColor: false,
	    barColor: '#8ad919'
	});
	});

	$(function() {
	$('#easypiechart-orange').easyPieChart({
	    scaleColor: false,
	    barColor: '#ffb53e'
	});
	});

	$(function() {
	$('#easypiechart-red').easyPieChart({
	    scaleColor: false,
	    barColor: '#f9243f'
	});
	});

	$(function() {
	$('#easypiechart-blue').easyPieChart({
	   scaleColor: false,
	   barColor: '#30a5ff'
	});
	});  	
	</script>
	<script src="{% static 'vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
	-->
    <!-- Bootstrap Toggle -->

{% endblock javascripts %}
