{% extends "web/layouts/base_site.html" %}

{% block title %} Search Word in Twitter {% endblock title %}

{% block content %}
<!--
<script type="text/javascript">
	document.getElementById("buscar-palabra-li").classList.add('active');
	//console.log(document.getElementById("buscar-palbra-li"))
	document.getElementById("inicio-li").classList.remove('active');
</script>
-->
<div class="right_col" role="main">
	<div class="row">
		<ol class="breadcrumb">
	        <li class="active"><a href="/socialanalyzer">Home</a></li>
		</ol>
	</div>

	<div class="row">
	  <div class="col-md-12 col-sm-12 col-xs-12">
	    <div class="dashboard_graph">

			<div class="row x_title">
			<div class="col-md-6">
			  <h3>Buscar Palabras<small><b> en Twitter</b></small></h3>
			</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12">
			<p>Ingresa una palabra o frase para mostrar su tópico y también para saber si están hablando bien o mal sobre la misma.</p>
			</div>
			<div class="col-xs-5 col-md-5 col-lg-5">
				<center>
					<form class="navbar-search" role="search" method="POST" action="{% url 'twitter_results' %}">{% csrf_token %}
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Buscar" name="palabra" id="palabra" autofocus="" required="">
						</div>
						<button id="btn-buscar" class="btn btn-primary pull-left" type="submit" formmethod="POST" formaction="/socialanalyzer/twitter_results/">Buscar Palabra o Frase</button>
					</form>	
				</center><br>

			<br><br>
			<a href="/socialanalyzer"> <b><< Regresar</b></a>
			</div>
	      <div class="clearfix"></div>
	    </div>
	  </div>
	</div>

	<!--
	{% if cantidad >= 2 %}		

	<div class="col-xs-6 col-md-6 col-lg-6">
		<div class="alert alert-success" role="alert" alert-dismissible style="width: 75%;">
		{% load static %}
			<img src="{% static 'images/dm10.png' %}" width="40" height="40" />
			Vuelve a buscar: <b>{{sugerencia}}</b><a href="#" class="pull-right"></a>
		</div>
	</div>

	<div class="col-xs-6 col-md-6 col-lg-6">
		<div class="alert alert-warning" role="alert" alert-dismissible style="width: 75%;font-size: 120%">
			<img src="{% static 'images/dm12.svg' %}" width="40" height="40" />
			Te recomendamos: <b>{{sugerencia2}}</b> <a href="#" class="pull-right"></a>
		</div>

	</div>
	{% endif %}
	-->

	<div class="load-lupa" style="background: rgba(26, 135, 197, 0.72) none repeat scroll 0% 0%;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		position: fixed;
		z-index: 10;
		display: none;">
	{% load static %}
		<img src="{% static 'images/Magnify.gif' %}" width="70" height="70" style="width: 100px;
		height: 100px;
		position: absolute;
		left: 17%;
		right: 0;
		top: 3%;
		margin: auto;
		bottom: 0;" />	
	</div>

	</div>
{% endblock content %}

<script type="text/javascript">
$("#btn-buscar").click(function(){
var form = $(this).closest("form");
	console.log("click buscar");
	$.ajax({
	    type : 'POST',
	    data : form.serialize(),
	    beforeSend: function() {
        // setting a timeout
        	$(".load-lupa").fadeIn();
    	},
	    success : function(data)
	    {
			console.log(data);
			$(".load-lupa").fadeOut();
			
	        
	    },
	        error: function(data){
	        	console.log(data);
	            console.log('Fallo conectando con el servidor')
	   }               
	});
});

</script> 

