{% extends "web/layouts/base_site.html" %}
{% load static %}
{% block title %} Twitter Search Timeline {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<!--
<script type="text/javascript">
	document.getElementById("buscar-palabra-li").classList.add('active');
	//console.log(document.getElementById("buscar-palbra-li"))
	document.getElementById("inicio-li").classList.remove('active');
</script>
-->
<div class="right_col" role="main">

	<div class="row">
		<ol class="breadcrumb">
	        <li ><a href="/socialanalyzer" id="btn-search-index-breadcrumb">Home</a></li>
	        <li class="active"><a href="/socialanalyzer/recent_search_twitter/">Recent Search on Twitter</a></li>
		</ol>
	</div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

			<div class="row x_title">
				<div class="col-md-6">
				  <h3>Estadísticas en el Tiempo<small><b></b> (Twitter)</small></h3>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12">
			<p><i class="fa fa-comment-o"></i> Detalles de los resultados obtenidos de la búsqueda de la palabra <b> {{ palabra }} </b> y su variación en el tiempo.</p>
			</div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br />

	<div class="row">
		<div class="x_panel tile fixed_height_320">
		  <div class="x_title">
	        <h2>Variación en función de la Polaridad</h2>  	
		    <ul class="nav navbar-right panel_toolbox">
		      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
		      </li>
		      <li><a class="close-link"><i class="fa fa-close"></i></a>
		      </li>
		    </ul>
		    <div class="clearfix"></div>
		  </div>
		  <div class="x_content">

		  </div>

		</div>
	</div>

    <br />
	<div class="row">
		<div class="x_panel tile fixed_height_320">
			<div class="x_title">
			<h2>Variación en función de otros indicadores</h2>  	
				<ul class="nav navbar-right panel_toolbox">
				  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				  </li>
				  <li><a class="close-link"><i class="fa fa-close"></i></a>
				  </li>
				</ul>
			<div class="clearfix"></div>
			</div>

			<div class="x_content">
				<div class="col-xs-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-body easypiechart-panel">
							<h4>En función del N° de Me Gusta</h4>
							<div class="easypiechart" id="easypiechart-blue" data-percent="{{cant_pal}}" ><span class="percent">{{cant_pal}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="panel panel-default">
						<div class="panel-body easypiechart-panel">
							<h4>En función del número de Retweets</h4>
							<div class="easypiechart" id="easypiechart-green" data-percent="{{palabras_positivas}}" ><span class="percent">{{palabras_positivas}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>

      		<div class="clearfix"></div>

		</div>
	</div>

    <br />

	<a href="/socialanalyzer/recent_search_twitter/"> <b><< Regresar</b></a>

</div>

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
	<script src="{% static 'vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
	<script type="text/javascript">
	function init_charts() {
		var twitter_word_timelime_polarity_data = {{ data.timeline_word_twitter_polarity|safe }}
		var twitter_word_timelime_polarity_date = []
		var twitter_word_timelime_polarity = []

		var twitter_word_timelime_likes_data = {{ data.timeline_word_twitter_likes|safe }}
		var twitter_word_timelime_likes_date = []
		var twitter_word_timelime_likes = []

		var twitter_word_timelime_shared_data = {{ data.timeline_word_twitter_shared|safe }}
		var twitter_word_timelime_shared_date = []
		var twitter_word_timelime_shared = []

		// Get twitter word timelime polarity data: date and sentiment analysis percentage
		for (var i = twitter_word_timelime_polarity_data.length - 1; i >= 0; i--) {
			//console.log(twitter_word_timelime_polarity_data[i])
			twitter_word_timelime_polarity_date.push(twitter_word_timelime_polarity_data[i]['searched_date'])
			twitter_word_timelime_polarity.push(twitter_word_timelime_polarity_data[i]['sentiment_analysis_percentage'])
		}
		//console.log("Polarity data--->",twitter_word_timelime_polarity_date," ",twitter_word_timelime_polarity)

		// Get twitter word timelime likes data: date and liked
		for (var i = twitter_word_timelime_likes_data.length - 1; i >= 0; i--) {
			//console.log(twitter_word_timelime_likes_data[i])
			twitter_word_timelime_likes_date.push(twitter_word_timelime_likes_data[i]['searched_date'])
			twitter_word_timelime_likes.push(twitter_word_timelime_likes_data[i]['liked'])
		}
		//console.log("Likes data--->",twitter_word_timelime_likes_date," ",twitter_word_timelime_likes)

		// Get twitter word timelime shared data: date and shared
		for (var i = twitter_word_timelime_shared_data.length - 1; i >= 0; i--) {
			//console.log(twitter_word_timelime_shared_data[i])
			twitter_word_timelime_shared_date.push(twitter_word_timelime_shared_data[i]['searched_date'])
			twitter_word_timelime_shared.push(twitter_word_timelime_shared_data[i]['shared'])
		}
		//console.log("Shared data--->",twitter_word_timelime_shared_date," ",twitter_word_timelime_shared)

		console.log('run_charts  typeof [' + typeof(Chart) + ']');

		if (typeof(Chart) === 'undefined') {
		    return;
		}

	    Chart.defaults.global.legend = {
	        enabled: false
	    };


	    if ($('#line-chart').length) {
	        var canvas_line_00 = new Chart(document.getElementById("line-chart"), {
	            type: 'line',
	            data: {
	                labels: twitter_word_timelime_polarity_date,
	                datasets: [{
	                    label: "My First dataset",
	                    backgroundColor: "rgba(38, 185, 154, 0.31)",
	                    borderColor: "rgba(38, 185, 154, 0.7)",
	                    pointBorderColor: "rgba(38, 185, 154, 0.7)",
	                    pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
	                    pointHoverBackgroundColor: "#fff",
	                    pointHoverBorderColor: "rgba(220,220,220,1)",
	                    pointBorderWidth: 1,
	                    data: twitter_word_timelime_polarity
	                }]
	            },
	        });
		}


	}

	$(document).ready(function() {
		console.log('loading charts...')
	    init_charts();
	});

	</script>
{% endblock javascripts %}
